<!--
<header class="container">
  <div class="text-center">
    <h1 class=""><a href="/profile">100devs social media platform</a></h1>
    <span></span>
  </div>
</header>
-->
<div class="ui secondary pointing menu">
  <a class="item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item active">
      Logout
    </a>
  </div>
</div>