<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Feed Page</title>
</head>
<body>
    <div class='ui container stackable'>
        <%- include('partials/header'); %>
        <div class="ui grid container">
            <div class="ten wide column">
                <h1>Welcome, <%= user.displayName %>!</h1>
                <div id="share-post" class="ui top attached button">Share something with your pans</div>
                <form class="ui form share-form hide" method="POST" action="/feed/createPost">
                    <textarea name="content" id="post-body" cols="30" rows="10"></textarea>
                    <button class="ui blue bottom attached fluid button" type="submit">Submit</button>
                </form>

                <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="ui orange padded segment segmentOverflow">
                        <h5 class="ui header">
                            <img src="/images/avatar2/medium/patrick.png" class="ui circular image">
                            <%= posts[i].user.displayName %>
                        </h5>
                        <div class="ui grid">
                            <div class="eight wide column">
                                <div class="ui fluid medium image">
                                    <a class="ui right corner large label">
                                      <i class="heart icon"></i>
                                    </a>
                                    <img src="/images/wireframe/image.png">
                                </div>
                            </div>
                            <div class=" eight wide column">
                                <p><%= posts[i].content %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
            <div class="six wide column">
                <img class="ui medium circular image" src="/images/wireframe/square-image.png">
            </div>
            
            
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="main.js"></script>
</body>
</html>